body, html {
    width: 100%;
    height: 100%;
    background: #DDD;
    /* border: 1px solid #004494; */
}





/*//////////////////// En-tête ////////////////////*/
header {
  background: #004494;

  font-weight: bold;
  font-size: 1.5em;
  /* border-top: 1px solid #004494; */
  }

  header>h1 {
    color: #FFF;
  }

  header img {
    height: 50px;
  }





/*//////////////////// Carte & Attribut ////////////////////*/
main {
  height: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*////////// Carte //////////*/
main #map {
  height: 100%;
  z-index: 0;
  }

  /* main #map p {
    color: #004494;
    font-weight: bold;
    text-align: center;
  } */

/*////////// Attributs //////////*/
main #attributs {
  display: none;
  position: absolute;
  background: #DDD;
  border: 2px solid black;
  border-radius: 2em;

  height: 30em;
  width: 30em;
  align-self: center;
  }

  main #attributs .formTete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    border-bottom: 1px solid black;
    }

    main #attributs #fermer {
      width: 25px;
      height: 25px;
      cursor: pointer;

      position: absolute;
      align-self: flex-end;
      margin-right: 1em;
    }

    main #attributs h2 {
      font-weight: bold;
      font-size: 1.5em;
      /* margin: 0.5em; */
      align-self: center;
    }

  main #attributs .formCorps {
    height: 80%;
    overflow: auto;
    }

    main #attributs table {
      width: 100%;
      }

      /* main #attributs table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      } */

      main #attributs table td {
        padding: 0.25em 0;
      }

      main #attributs table .label {
        text-align: right;
        padding-right: 0.1em;
      }

      main #attributs table #precision {
        display: none;
      }

  main #attributs .formPied {
    height: 10%;
    }

    main #attributs fieldset {
      border-top: 2px groove black;
    }

    main #attributs #valider {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

  /*////////// Page de Chargement des attributs //////////*/
  main #attributs .loading img {
    border-radius: 0 0 2em 2em;
    height: 25em;
    width: 30em;
    /* font-size: 2em ; */
  }

  main #attributs .loading h3 {
    background-color: #0174db;
    border-radius: 1em 1em 0 0;
    font-size: 2em ;
    font-weight: bold;
    color: #FFF;
    padding: 0.75em 0em;
  }

/*////////// JSON //////////*/
main #json {
  display: none;
}





/*//////////////////// Filtres ////////////////////*/
aside {
  height: 5%;
  background-color: #d77a0e;

  display: flex;
  }

  aside div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  aside select {
    width: 35vw;
  }





/*//////////////////// Résumé ////////////////////*/
footer {
  height: 10%;
  background-color: #79b51c;

  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

footer table th {
  /* padding: 0.5em 0; */
}

footer .resume {
  width: 85%;
  color: #FFF;
  }

  footer .resume .pann{
    color: #ffcc80;
  }
  footer .resume .sent{
    color: #ff9900;
  }
  footer .resume .amgtComm{
    color: #834f01;
  }
  footer .resume .clot{
    color: #2e58ad;
  }
  footer .resume .barr{
    color: #bfd5ff;
  }
  footer .resume .amgtZoot{
    color: #1f3d7a;
  }





/*//////////////////// Autre ////////////////////*/
.centre {
  text-align: center;
}
